<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
</head>
<body>
	<h>--Layout--</h>
	<div>
		<div style="float:left;width:15%;height:100%;border-right: 1px solid #000;">
			<p>--category--</p>
			{% for category in site.categories%}
				<p><a href="\{{category[0]}}\index.html"> {{ category | first }}</a>&nbsp;&nbsp;&nbsp;{{ category | last | size }}</p>
			{% endfor %}
			<p>--category--</p>
		</div>
		<div style="float:left;width:65%;margin-left:10px">
			{{ content }}
		</div>
	</div>
</body>
</html>